*{
    margin: 0;
}
article h1{
    margin: 10px 15px 15px;
}
.imgside3{
    width: 387px;
    height: 274px;
}
.pside3{
    width: 343px;
    height: 339px;
    font-style: Verdana;
    font-size: 16px;
    margin: 20px;
}
body{
    margin: 0;
}
a{
    color: white;
    text-decoration: none;
}
header{
    display: flex;
    background-color: #92b8b7;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
label{
    font-size: x-large;
    margin-right: 10px;
}
nav{
    width: 100%;
    display: none;
    min-height: 100px;
    background-color: #707070;
}
nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul{
    list-style: none;
    padding: 0;
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]:checked ~ nav{
    display: block;
}
ul > li{
    font-size: x-large;
    padding: 10px;
    color: #ffffff;
}
header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    color: white;
    margin-left: 10px;
}
ul li{
    justify-self: center;
    list-style-type: none;
}
footer{
    background-color: #707070;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
}
footer p{
    grid-column: 1 / span 2;
    justify-self: center;
    color: white;
}
address{
    color: white;
}
.social{
    display: flex;
    justify-content: flex-end;
}
@media (min-width: 769px){
    .imgside3{
        width: 337px;
        height: 238px;
    }
    article{
        display: flex;
    }
    #img1{
        order: 2;
    }
    #p1{
        order: 1;
    }
    #img2{
        width: 920px;
        height: 667px;
    }
    #p2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
    }
    .Aligner {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
    label{
        display: none;
    }
    ul{
        display: flex;
        justify-content: flex-end;
    }
    nav{
        width: 50%;
        display: flex;
        background-color: #92b8b7;
        justify-content: flex-end;
    }
    nav ul{
        flex-direction: row;
    }
    header{
        flex-wrap: nowrap;
    }
}